<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<!-- Logo -->
		<ul class="navbar-nav" id="nav-logo-container">
			<img class="navbar-logo" id="navbar-logo" src="/assets/images/logo_placeholder.png">
		</ul>

		<div class="flex-filler"></div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Div puts nav items in a hamburger menu on mobile -->
		<div class="collapse navbar-collapse" id="navbar-nav">
			<!-- Links -->
			<ul class="navbar-nav" id="nav-item-container">
				<!-- Home -->
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				
				<!-- Books -->
				<li class="nav-item">
					<a class="nav-link" href="/books/">Books</a>
				</li>
				
				<!-- About -->
				<li class="nav-item">
					<a class="nav-link" href="/about/">About</a>
				</li>

				<!-- Blog -->
				<!--li class="nav-item">
					<a class="nav-link" href="/blog/">Blog</a>
				</li-->
				
				<!-- Contact -->
				<li class="nav-item">
					<a class="nav-link" href="mailto:contact@erchnichols.com" target="_blank">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	
	<script src="/assets/scripts/navigation_bar.js"></script>
</nav>