@import "page_about.css";

.bio-container
{
	flex-direction: column;

	margin-top: 2vh;
}

.bio-image
{
	margin: auto;

	width: 80vw;
	height: auto;
}

.bio-text-container
{
	padding: 0;
	padding-top: 2vh;
}