---
layout: default
---

{{ content }}

<div class="bio-container">
	<div class="bio-image-container">
		<img class="bio-image" src="/assets/images/about/ecnichols.jpg">
	</div>
	
	<div class="bio-text-container">
		<p class="page-heading">About Ernest C. Nichols</p>
		<p class="bio-text">Let me explain what it means to be from a military family. I was born near Castle Air Force Base, California. My brother was born at Eielson AFB, Alaska, and my sister was born at Malmstrom AFB, Montana. During my military career, two were born at Travis AFB, California, and the middle child was born at Clark AFB, Philippines.</p>
		<p class="bio-text">Our rambling lifestyle ended when I retired at March AFB, Riverside, California, after completing a Bachelor of Science degree through the Community College of the Air Force. Our first civilian move was to Boise, Idaho. I worked at Micron Technology for 18 years and am named on eight company patents.</p>
		<p class="bio-text">I believe in ongoing education. I acquired a Master of Arts degree from Liberty University in 2005 and completed the Jerry Jenkin's Writer's Guild Apprentice course in 2008 and the Journeyman course in 2010. My military technical background, worldwide travel, and design experience using AUTOCAD and Solidworks 3D, sparked my imagination for writing. I was an early reader, and science fiction was my favorite genre.</p>
	</div>
</div>