---
layout: default
---

{{ content }}

<div class="blog-archive-container">
	<p class="page-heading">Blog Archive</p>

	<!-- Blog entries -->
	<div class="blog-entries-container">
		{% assign hasPosts = false %}
		{% for post in site.posts limit:3 %}
			{% assign hasPosts = true %}
			<div class="blog-entry">
				<div class="blog-entry-text-container">
					<div style="width: 50%;">
						<p class="blog-entry-title"><a href="{{ post.url }}">{{ post.title }}</a> by {{ post.author }}</p>
					</div>
					<div style="width: 50%;">
						{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
						<p class="blog-entry-date">{{ post.date | date: date_format }}</p>
					</div>
				</div>
			</div>
		{% endfor %}

		{% if hasPosts == false %}
			<div class="blog-entry">
				<p class="blog-entry-title">No posts found.</p>
			</div>
		{% endif %}
	</div>
</div>